@use "./font.scss";
@use "./color.scss";

* {
  font-family: var(--font-serif);
}

html {
  box-sizing: border-box;
  background-color: #fff;
  color: var(--color-primary);
  font-size: 16px;
}

.bg-img-gray {
  background-image: url("@/assets/images/bg-save-the-date.jpg");
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.35));
  z-index: 0;
  pointer-events: none;
}
