* {
  font-family: "Roboto", sans-serif;
}

html {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  background-color: #05070b;
  color: #fff;
}

.font-great-vibes {
  font-family: "Great Vibes", cursive;
}
